@import url(https://fonts.google.com/specimen/Outfit);

body{
    background: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    font-family: Outfit;
    overflow: hidden;
}

.main-body{
    background: white;
    padding: 5px;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

img{
    border-radius: 10px;
}

.note{
    font-size: 15px;
    color: grey;
    text-align: center;
    font-weight: normal;
}

p{
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-align: center;
}